body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

.favorite-color {
    background-color: palevioletred;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#colors {
    font-style: oblique;
    line-height: 30px;
    text-align: left;
    text-decoration: underline;
    font-weight: bolder;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}

#laranja {
    background-color: orange;
}

#roxo {
    background-color: purple;
}

#verde {
    background-color: green;
}